<!doctype html>
<html lang="vi-VN" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{backend/layout/head('Dashboard')}"></head>
<body>
<div class="page-wrapper toggled">
    <nav th:replace="~{backend/layout/sidebar}"></nav>
    <main class="page-content bg-light">
        <div th:replace="~{backend/layout/top-header}"></div>
        <div class="container-fluid">
            <div class="layout-specing">
            </div>
        </div>
        <!--end container-->
        <footer th:replace="~{backend/layout/footer}"></footer>
    </main>
    <!--End page-content" -->
</div>
<!-- page-wrapper -->
</body>
</html>