<nav th:fragment="breadcrumb(breadcrumb)" aria-label="breadcrumb" class="d-inline-block mb-2">
    <ul class="breadcrumb rounded shadow mb-0 px-4 py-2 bg-white">
        <li th:each="item : ${breadcrumb}"
            th:class="${item.url == ''} ? 'breadcrumb-item active' : 'breadcrumb-item'"
        >
            <a th:if="${item.url != ''}" th:href="${item.url}" th:text="${item.label}"></a>
            <span th:if="${item.url == ''}" th:text="${item.label}"></span>
        </li>
    </ul>
</nav>